body {
  font: 14px sans-serif;
}

#selectXButton {
    position: absolute;
    top:400px;
    left:975px;
}

#selectYButton {
    position: absolute;
    left:425px;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

.container {
    width:1200px;
    position: fixed;
}

.left-element {
    display: inline-block;
    position: absolute;
    left: 0;
}

.right-element {
    display: inline-block;
    position: absolute;
    right: 0;
}