body {
  font: 14px sans-serif;
}

#selectXButton {
    position: absolute;
    top:400px;
    left:975px;
}

#selectYButton {
    position: absolute;
    left:425px;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

.container {
    width:1300px;
    position: fixed;
}

.left-element {
    display: inline-block;
    position: absolute;
    left: 0;
}

.right-element {
    display: inline-block;
    position: absolute;
    right: 0;
}

.slider {
  --SliderColor: rgb(200,200,200);
  -webkit-appearance: none;
  width: 150px;
  height: 8px;
  border-radius: 4px;
  margin-left: 15px;
  margin-bottom: 15px;
  background-color: rgb(225, 225, 225);
}

/* --------------------------- webkit browsers */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background-color: var(--SliderColor);
  overflow: visible;
  cursor: pointer;
}
/* -------------------------- Firefox */
.slider::-moz-range-thumb { 
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background-color: var(--SliderColor);
  overflow: visible;
  cursor: pointer;
}
.slider::-moz-focus-outer { border: 0; }
/* Remove dotted outline from range input element focused in Firefox */